@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

#container-header {
    margin-bottom: 7px;
    display: flex;
    justify-content: flex-end;
}

#container-header > button {
    margin-left: 10px;
    font-weight: bold;
}

.cell {
    font-family: inherit;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(255, 249, 239);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: orange;
    padding: 3px 20px;
    margin-bottom: 3px;
    width: fit-content;
    border-radius: 5px 5px 0px 0px;
}

.small-title {
    font-size: 16px;
    font-weight: bold;
    color: orange;
}

.desc {
    font-size: 16px;
    color: rgb(231, 150, 0);
}

.note {
    font-style: italic;
    color: rgb(232, 158, 0);
    font-size: 15px;
    padding-top: 5px;
}

.homework-cell-expiration-date {
    font-size: 15px;
    color: rgb(232, 158, 0);
    font-weight: bold;
}

#create-cell-form-container {
    display: none;
}

#create-cell-form {
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 9;
    border: 3px solid rgb(255, 183, 0);
    border-radius: 20px 0px 0px 0px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    padding: 20px;
    background-color: rgb(255, 251, 241);
}

hr {
    border-top: 1px solid orange;
}

h2 {
    color: #ff9e28;
    margin-block: 0px;
}

.button {
    padding: 3px;
    font-size: 14px;
    color: white;
    background-color: #ff9e28;
    border: none;
    border-radius: 5px;
}

.button:hover {
    color: #ff9e28;
    background-color: white;
    border: 1px dashed orange;
}

.homework-list > li, .homework-list > li > a {
    width: fit-content;
    color: orange;
    /* text-decoration: none; */
}

.homework-list > li:hover {
    font-weight: bold;
}

label {
    color: #ff9e28;
}

#create-cell-form-container input, 
#create-cell-form-container textarea, 
#create-cell-form-container select {
    border: 1px solid rgb(232, 151, 0);
    border-radius: 3px;
    color: orange;
}

option:hover {
    background-color: orange;
    color: white;
}

#create-cell-form-container input:hover, 
#create-cell-form-container textarea:hover, 
#create-cell-form-container select:hover {
    border: 2px solid rgb(232, 151, 0);
}

#create-cell-form-container input::placeholder, 
#create-cell-form-container textarea::placeholder {
    font-size: 14px;
    color: rgb(210, 137, 0);
}

input[type=file] {
    color: orange;
}

.document-file-upload::-webkit-file-upload-button,
.homework-file-upload::-webkit-file-upload-button {
    padding: 3px;
    font-size: 14px;
    color: white;
    background-color: #ff9e28;
    border: none;
    border-radius: 5px;
}

.document-file-upload::-webkit-file-upload-button:hover,
.homework-file-upload::-webkit-file-upload-button:hover {
    color: #ff9e28;
    background-color: white;
    border: 1px dashed orange;
}

textarea {
    resize: none;
}

#create-cell-form input, #create-cell-form select {
    width: 100%;
    margin: 5px 0px 15px 0px;
}

.cell-type-option {
    display: none;
}