.class-cell {
    width: 100%;
    border: 1px solid black;
}

.class-cell .id {
    font-weight: bold;
    color: blue;
}

.class-cell .class-name {
    font-weight: bold;
}

.class-cell .instructor-name {

}

#join-button {
    padding: 5px;
    margin-top: 10px;
}