.notification-cell, .homework-cell {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    margin-bottom: 20px;
}

.notification-cell-title, .homework-cell-title {
    font-weight: bold;
    color: rgb(202, 133, 4);
    padding-top: 5px;
    padding-bottom: 10px;
}

.notification-cell-note {
    font-style: italic;
    color: rgb(144, 136, 136);
    font-size: 15px;
    padding-top: 5px;
}

.homework-cell-expiration-date {
    font-weight: bold;
}

#open-form-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

#create-cell-form-container {
    display: none;
}

#create-cell-form {
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 9;
    border: 3px solid black;
    max-width: 300px;
    padding: 30px;
    background-color: white;
}

#create-cell-form input, #create-cell-form select {
    width: 100%;
    margin: 5px 0px 15px 0px;
}

.cell-type-option {
    display: none;
}