@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    background: #e4c49d;
}

#main-container {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 390px;
    background: rgb(247, 242, 234);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Times new roman', sans-serif;
    font-size: 16px;
}

.cell {
    font-family: inherit;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(255, 249, 239);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: orange;
    padding: 3px 20px;
    margin-bottom: 3px;
    width: fit-content;
    border-radius: 5px 5px 0px 0px;
}

.desc {
    font-size: 16px;
    color: rgb(231, 150, 0);
}

.note {
    font-style: italic;
    color: rgb(232, 158, 0);
    font-size: 15px;
    padding-top: 5px;
}

.homework-cell-expiration-date {
    font-size: 15px;
    color: rgb(232, 158, 0);
    font-weight: bold;
}

#open-form-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

#create-cell-form-container {
    display: none;
}

#create-cell-form {
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 9;
    border: 3px solid black;
    max-width: 300px;
    padding: 30px;
    background-color: white;
}

#create-cell-form input, #create-cell-form select {
    width: 100%;
    margin: 5px 0px 15px 0px;
}

.cell-type-option {
    display: none;
}