.title {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: orange;
    padding: 3px 20px;
    margin-bottom: 3px;
    width: fit-content;
    border-radius: 5px 5px 0px 0px;
}

.paragraph {
    color: rgb(196, 127, 0);
}

.paragraph > span {
    font-weight: bold;
}

hr {
    border-top: 1px solid orange;
}

table {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    color: rgb(230, 149, 0);
    border-color: orange rgb(196, 127, 0) rgb(196, 127, 0) orange;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

/* tr.even-row must appear before tr.late */
tr.even-row {
    background-color: rgb(223, 221, 215);
}

/* tr.late must appear after tr.even-row */
tr.late {
    background-color: rgba(255, 0, 0, 0.759);
}

.download-button.disabled {
    display: none;
}

.download-button:not(.disabled) {
    border: none;
    background-color: unset;
    color: #ff9e28;
    cursor: pointer;
}

.download-button:not(.disabled):hover {
    background-color: orange;
    color: white;
}

.grade-input {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: 30px;
    text-align: right;
    padding: 0;
}

.grade-input:disabled {
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: unset;
    color: inherit;
    padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}