@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

#topnav-container {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 80%;
    background: rgb(247, 242, 234);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

#header {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#header-content, #user-account {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#topnav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 172, 32);
    border-radius: 5px;
    height: 35px;
}

.left-div {
    width: 80%;
    display: flex;
}

.right-div {
    width: 20%;
    display: flex;
}

#home-link, #my-class, #searching{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home-link {
    width: 100px;
}

#my-class {
    width: 150px;
}

#searching {
    width: 233.4px;
}

#home-link > a {
    color: black;
    text-decoration: none;
}

#home-link:hover, .dropdown:hover .dropbtn {
    background-color: rgb(248, 200, 110);
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: orange;
    font-family: 'Poppins', sans-serif;
    padding: 14px 15px;
}

.dropdown-content {
    display: none;
    background-color: rgb(255, 242, 218);
    position: absolute;
    border-radius: 5px;
    z-index: 1;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
    min-width: 200px;
    border-bottom: 1px solid orange;
    font-size: 14px;
}

#search-bar {
    overflow: hidden;
    background-color: blue;
}

#search-bar > * {
    /* float: inline-start; */
    padding: 15.5px 16px;
}

#search-bar > input {
    outline: none;
    border: none;
    background-color: rgb(234, 189, 105);
    font-style: italic;
}

#search-bar > button {
    border: none;
    outline: none;
    background-color: rgb(6, 55, 229);
    color: white;
    font-weight: bold;
    cursor: pointer;
}