.warning-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fdfdfd;
    color: #b08544;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none;
}